<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBpDUzFigsP9DwR5V3c6g2hyZwSqjQmYRU</string>
	<key>GCM_SENDER_ID</key>
	<string>667720784143</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.azodhaTask</string>
	<key>PROJECT_ID</key>
	<string>azodha-8fc00</string>
	<key>STORAGE_BUCKET</key>
	<string>azodha-8fc00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667720784143:ios:e9cc8af239130dafe6467a</string>
</dict>
</plist>